.timeline-area {
    position: relative;
    width: 100vw;
    font-family: 'Marcellus', serif, sans-serif;
    color: black;
}

.workexperience-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 35px 0 55px 0;
}

.education-area {
    background-color: rgb(230, 230, 230);
    padding: 20px 50px;
    padding: 35px 0 55px 0;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;

    padding: 30px 0 8px;
    position: relative;
    z-index: 1;
}

.title::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 9px;
    width: 250px;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: #c897aa;
    z-index: -1;
  }

.curriculum-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 20px;
    width: 100%;
    margin: 40px 0;
}

.border-right {
    border-right: 3px solid #a0647c;
}

.text-right {
    text-align: right;
    padding-right: 30px;
    margin-left: 110px;
}

.text-left {
    text-align: left;
    padding-left: 30px;
    margin-right: 110px;
}

.item-title {
    padding-bottom: 15px;
    font-size: 23px;
    text-decoration: underline solid #a0647c;
    text-underline-offset: 1rem;
    font-weight: bold;
    font-family: 'Marcellus', serif, sans-serif;
}

.item-text {
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: 'Nunito Sans', sans-serif;
}

.highligth {
    font-weight: bold;
    font-size: 20px;
}

.curric-item-tex {
    text-align: left;
    margin-left: 30px;
}

.flex-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.flex-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list-area {
    list-style: none;
    padding: 0;
}

.link-area {
    margin: 5px 30px;
}

.bnt {
    border: none;
    text-decoration: none;
    font-weight: lighter;
    padding: 7px 20px;
    font-size: 18px;
}

.color {
    background-color: #a0647c;
    color: white;
}

@media screen and (max-width: 1900px) {
    .curriculum-area {
        height: 160vh;
    }
}

@media screen and (max-width: 1242px) {
    .curriculum-area {
        height: 170vh;
    }
}

@media screen and (max-width: 690px) {
    .curriculum-area {
        height: 200vh;
    }
}

@media screen and (max-width: 390px) {
    .curriculum-area {
        height: 255vh;
    }
    .curriculum-subtitle {
        font-size: 16px;
    }
    .item-title {
        font-size: 17px;
    }
    .item-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 380px) {
    .curriculum-subtitle {
        display: none;
    }
    .div-btn {
        display: none;
    }
}