.grid {
    display: grid;
    grid-template-columns: auto repeat(6, 1fr);
    gap: 10px; 
}

.week {
    font-weight: bold;
    padding: 5px 30px;
    text-align: center;
    border-radius: 30px;
    font-size: 17px;
}

.blue {
    background-color: var(--blue-dark-color);
    color: white;
}

.header {
    background-color: var(--blue-darker-color);
    color: white;
    display: flex;
    flex-direction: column;
}

.time {
    background-color: var(--blue-light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.gray {
    background-color: var(--gray-dark-color);
}

.graylight {
    background-color: var(--gray-light-color);
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.graylight:hover {
    background-color: var(--blue-light-color);
}

.schedule {
    text-align: center;
    padding: 6px 15px;
    border-radius: 30px;
}

.info {
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
    color: black;
    width: 20px;
}

.font {
    font-size: 15px;
}