.header-area {
    color: white;
    height: 100vh;
}

.header-intro {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.header-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 70%;
    height: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.website-title {
    font-size: 7vw;
    font-family: 'Young Serif', serif;
    text-align: center;
}

.subtitle-1 {
    font-size: 2vw;
    font-family: 'Marcellus', serif, sans-serif;
    text-align: center;
    margin-top: 10px;
}

.subtitle-2 {
    font-size: 1.7vw;
    font-family: 'Source Code Pro', monospace;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
}

.img-home {
    height: 100vh;
}

.hr-line {
    margin: auto;
    width: 30vw;
    border: 2px solid white;
}

@media screen and (max-width: 800px) {
    .subtitle-1 { font-size: 18px; }
    .subtitle-2 { font-size: 15px; }
}

/*
Fonte manuescrita:
font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
Sombra nas letras:
text-shadow: 0 0 0.3em #70007f, 0 0 0.3em #9800ac, 0 0 #9b04ae;
*/