.footer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100vw;
  height: 40px;
  padding: 10px;
  background-color: var(--gray-dark-color);
  

  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: #ccc;
  font-size: 15px;
  margin-right: 45px;
}