.footer {
  height: 40px;
  padding: 10px 0;
  background-color: var(--gray-dark-color);
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: #ccc;
  font-size: 13px;
  text-align: center;
}