.footer {
  height: 40px;
  padding: 10px;
  background-color: var(--gray-dark-color);
  

  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: #ccc;
  font-size: 15px;
}