
.sidebar {
    position: fixed;
    top: 30vh;
    left: 50px;
    width: 80px;
    height: 300px;

    border-radius: 50px;
    z-index: 10;
    background-color: var(--blue-green-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .list {
    list-style-type: none;
    /* padding: 20px; */
  }

  .icon {
    color: white;
    /* margin: 15px 10px; */
  }

  .option {
    cursor: pointer;
    border-radius: 50px;
    height: 50px;
    width: 50px;
  }

  .option:hover {
    background-color: var(--blue-darker-color);
  }

  .selectedOption {
    background-color: var(--gray-light-color);
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px 4px #cfcfcf;
  }

  .selectedIcon {
    color: var(--black-color);
  }

  .text {
    display: inline;
  }

  @media only screen and (max-width: 1300px) {
    .text {
        display: none;
    }
  }