.about-area {
    padding: 0px;
    margin-bottom: 30px;
}

.about-flex {
    display: grid;
    grid-template-columns: repeat(2, 70%);
    font-family: 'Marcellus', serif, sans-serif; 
    grid-auto-rows: 450px;
    width: 100vw;
    margin: 0;
}

.about-item {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.about-item-right {
    background-color: #e0bbca;
}

.about {
    padding: 80px 40px 80px 100px;
    background-color: #2F0036;
    color: rgb(233, 233, 233);
}

.about-subtitle {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    margin-right: 15vw;
    
    position: relative;
    z-index: 1;
}

.line {
    width: 200px;
    border: 3px solid #f5abff;
    margin-left: 33vw;
}

.about-text {
    list-style-type: none;
    text-align: right;
    font-size: 19px;
    margin: 25px 15vw 0 10vw;
}

.img-item {
    height: 400px;
    width: 400px;
    position: absolute;
    right: 15vw;
    margin-top: 50px;
}

.purple-text {
    color: #b601ce;
    text-decoration: underline 2px solid #b601ce;
    text-underline-offset: 0.3rem;
}

@media screen and (max-width: 1150px) {
    .about-flex {
        grid-auto-rows: auto;       
    }
}

@media screen and (max-width: 840px) {
    .about-flex {
        display: grid;
        grid-template-columns: repeat(1, 100%);        
    }
    .display-none {
        display: none;
    }
    .less-height {
        max-height: 300px;
    }
}

@media screen and (max-width: 1280px) {
    .about {
        padding: 50px 40px 50px 100px;
    }
}

@media screen and (max-width: 800px) {
    .about {
        padding: 50px 40px 50px 50px;
    }
}