.skills-area {
    font-family: 'Marcellus', serif, sans-serif;
    padding: 80px 0 60px 0;
    background-color: rgb(230, 230, 230);
}

.skills-subtitle {
    font-size: 30px;
    font-weight: bold;
    text-align: center;

    position: relative;
    z-index: 1;
}

.skills-subtitle::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 9px;
    width: 120px;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: #c897aa;
    z-index: -1;
  }

.skills-row {
    display: flex;
    justify-content: center;
    margin: 15px 30px 15px 40px;
}

.skills-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}