.posit-abs {
    position: absolute;
}

.posit-fixed {
    position: fixed;
    z-index: 9;
}

.bg-white {
    background-color: white;
}

.position {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 0 20px;
}

.font-marcellus {
    font-family: 'Marcellus', serif, sans-serif;
    font-weight: bold;
}

.font-sans {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;

  /* font-family: 'Handlee', cursive; */
  /* font-family: 'Mulish', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Roboto Mono', monospace; */
}

.text-area {
    display: flex;
    align-items: center;
}

.navbar-title {
    font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
    width: max-content;
    margin: 0;
    font-size: 35px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 30px;
    list-style: none;
    width: 100%;
    font-size: 20px;
    padding: 0px;
    margin: 0;
}

.just-center {
    justify-content: center;
}

.just-end {
    justify-content: flex-end;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 60px;
}

.font-white {
    color: white;
    text-decoration: none;
}

.menu-item {
    color: black;  
    text-decoration: none;
}

.font-white:hover {
    color: #E100FF;
    text-shadow: 0 0 0.3em #E100FF, 0 0 0.3em #E100FF, 0 0 #E100FF;
}

.menu-item:hover {
    color: #a0647c;
}

.menu-icon {
    display: none;
}

.flex-box {
    display: flex;
    height: 100%;
}

.around {
    justify-content: space-around;
}

.logo-img {
    margin: 12px 0 0 10px;
    height: 40px;
}

@media screen and (max-width: 800px) {
    .menu-icon {
        display: block;
        position: absolute;
        top: 0px;
        right: 15px;
        transform: translate(-90%, 25%);
        font-size: 2rem;
        cursor: pointer;
        color: #2f0036;
        z-index: 10;
    }

    .nav-menu {
        position: absolute;
        right: 100%;

        display: flex;
        flex-direction: column;
    }

    .nav-menu.active {
        background: #a0647c;
        position: absolute;
        top: 60px;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 6;
        width: 100%;
        min-width: 150px;
        height: 90vh;
        padding: 30px 0px;
    }

    .nav-item {
        height: 120px;
    }

    .nav-item:hover {
        height: 100px;
        background: #2f0036;
        color: white;
    }

    .menu-item {
        text-align: center;
        padding: 50px 0;
        width: 100%;
        display: table;
        color: #2f0036;
        text-decoration: none;
    }

    .menu-item:hover {
        color: white;
    }

    .navbar-title {
        width: 250px;
        font-size: 25px;
    }

    .flex-box {
        display: flex;
        height: 100%;
        width: 250px;
    }
}