.button {
    border: none;
    padding: 12px 20px;
    color: white;
    width: 200px;

    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.green {
    background-color: green;
}

.disabled {
    background-color: rgba(3, 144, 3, 0.579);
    cursor: not-allowed;
}

.icon {
    margin-right: 15px;
}